<div>
  <h1>
    Coder House chat
  </h1>
</div>
<form onsubmit="return sendMsg()" id="chatForm"> 
  <div id="box" class="boxx">
    <div>
     {{#each messages}}
       <strong>{{this.user}}</strong> dice: <p>{{this.message}}</p>
   {{/each}}
</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your name here:</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Write your message:</label>
    <textarea class="form-control" id="message"></textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>