<form onsubmit="return loginData()">
  <div class="mb-3">
    <h1>LOGIN</h1>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="emailLog" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordLog">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <button id="logoutBtn" type="submit" class="btn btn-primary">Logout</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>