<h1>Restore password:</h1>
<form action="/reset-password" method="POST">
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>

    <button id="btn" type="submit">PUSH</button>
</form>
<script src="/js/indexNewPass.js"></script>